PORT=5000
MONGODB_URI=mongodb+srv://admin:admin123@lms.fqsiyfg.mongodb.net/?appName=LMS
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=your_cloud_name
RESEND_API_KEY=your_resend_api_key_here
FRONTEND_URL=http://localhost:5173
